<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>[[${estudiante.idEstudiante ne null ? 'Editar estudiante' : 'Registro de estudiante'}]]</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/all.css}" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <h3>[[${estudiante.idEstudiante ne null ? 'Editar estudiante' : 'Registro de estudiante'}]]</h3>
                <br>
                <form action="" method="POST" th:object="${estudiante}">
                <div class="mb-3">
                    <label for="nombre">
                        Nombre:
                        <input id="nombre" type="text" placeholder="Digite su nombre " th:field="*{nombre}" class="form-control" th:errorClass="is-invalid">	
                        <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="invalid-feedback"></div>
                    </label>
                
                    
                
                </div>

                <div class="mb-3">
                    <label for="direccion">
                        Direccion:
                        <input id="direccion" type="text" placeholder="Digite su direccion " th:field="*{direccion}" class="form-control" th:errorClass="is-invalid">
                        
                        <div th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="invalid-feedback"></div>
                    </label>
                
                    
                </div>

                <div class="mb-3">
                    <label for="telefono">
                        Telefono:
                        <input id="telefono" type="text" placeholder="Digite su telefono " th:field="*{telefono}" class="form-control" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="invalid-feedback"></div>
                    </label>
                
                
            </div>

            <div class="mb-3">
                
                    
                    </div>
                   
                    <div class="text-end">
                    <button class="btn btn-success"><i class="fas fa-save"></i>
&nbsp;Guardar</button>
                    <a href="/" class="btn btn-light ms-2"><i class="fas fa-backward"></i>&nbsp;Cancelar</a>
                    </div>

                </form>        
            </div>
        </div>
                
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>        
    </body>

</html>
